Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519

Host umich.github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519_umich

Host *
  AddKeysToAgent yes
  IdentitiesOnly yes
  PreferredAuthentications publickey
  Compression yes
